
@{
    ViewBag.Title = "Parola Değiştir";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

@model OOI.UI.Web.Models.VM.ChangePasswordVM


<div class="ChangePassword">
    <div class="ChangePassword-a">
        @if (ViewBag.IslemDurum == EnumIslemDurum.ValidationHata)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary()
            </div>
        }
        @if (ViewBag.IslemDurum == EnumIslemDurum.IslemBasarili)
        {
            <div class="alert alert-success">
                @FormMessages.PasswordChange
            </div>
        }

        <form style="margin-bottom: 98px" method="post">
            <h1>Şifre Değiştirme</h1>
            <div class="registration-type ">
            </div>
            @Html.HiddenFor(x => x.ID)
            <div class="form-group">
                <label for="">Mevcut Şifreniz</label>
                @Html.TextBoxFor(x => x.Password, new { @type = "password", @class = "form-control form-a", @id = "", @placeholder = "***" })

            </div>
            <div class="form-group">
                <label for="">Yeni Şifre</label>
                @Html.TextBoxFor(x => x.NewPassword, new { @type = "password", @class = "form-control form-a", @id = "", @placeholder = "***" })

            </div>
            <div class="form-group">
                <label for="">Yeni Şifre tekrar</label>
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @type = "password", @class = "form-control form-a", @id = "", @placeholder = "***" })

            </div>
            <button type="submit" class="form-b" id="gonder">Güncelle</button>
        </form>

    </div>
</div>


