
@{
    ViewBag.Title = "AddInterview";
    Layout = "~/Areas/Admin/Views/Shared/AdminUserLayoutPage.cshtml";
}


@model OOI.UI.Web.Areas.Admin.Models.VM.InterviewVM

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Röportaj Ekle</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                @using (Html.BeginForm("AddInterview", "Interview", FormMethod.Post, new { enctype="multipart/form-data"}))
                {
                    
                            <div class="fileUpload">
                              
                                <input accept="image/jpeg,image/jpg,image/png,image/JPEG,image/JPG" id="projectmainfile" name="mainphoto" type="file" aria-invalid="true">

                            </div>
                       

                    @Html.HiddenFor(x => x.ID)
                    <div class="form-group">
                        <label>Başlık</label>
                        @Html.TextBoxFor(x => x.Name, new { @type = "text", @class = "form-control", @id = "", @placeholder = "" })
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Açıklama</label>
                        @Html.TextBoxFor(x => x.Description, new { @type = "text", @class = "form-control", @id = "", @placeholder = "" })
                        @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                    </div>

                    <div>
                        <button type="submit" class="btn btn-outline-primary">Ekle</button>
                    </div>
                }
            </table>
        </div>
    </div>
</div>
