
@{
    ViewBag.Title = "Roportaj-Soylesi";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

@model HomeVM

<div class="giris form-f">
    <h4>498 Cast Ajansı ve 784 Cast Direktörü ile buluşun.</h4>
</div>
<div class="aside-blog">



    <div class="yazi-detay" style="margin-top:">

        <div class="d-lg-flex d-sm-block flex-row justify-content-between">
            <div class=" d-md-block d-sm-block">

                <div class="row" style="margin-top:10px">
                    <div class="column">
                        <img style="height:100px; width:100px" class="demo cursor" src="~/Areas/Admin/Content/Interview/MainPhoto/@Model.Interview.MainPhoto" alt="Bazzer">
                    </div>

                </div>
            </div>
            <div class="pd-title">
                <h2>Röportaj Detayı</h2>
                <div class="">
                    <label for="" class="d-block">Röportaj Adı</label>
                    <span>@Model.Interview.Name</span>
                </div>
                <div>
                    <label for="" class="d-block">Açıklama</label>
                    <span>@Model.Interview.Description</span>
                </div>
                <div>
                    <label for="" class="d-block">Başlangıç Tarihi</label>
                    <span>@Model.Interview.StartDateString</span>
                </div>
                <div>
                    <label for="" class="d-block">Bitiş Tarihi</label>
                    <span>@Model.Interview.StartDateString</span>
                </div>
                <div class="d-inline-block">
                    <button class=" btnBasvur float-right btnprojectdetail" id="">Başvur</button>
                </div>
            </div>
        </div>

        <p>@Model.Interview.Description</p>


        <div class="sosyal-blog-b"><span>Admin</span><span> - </span><span>27/07/2012</span><a href="#" class="face"></a><a href="#" class="youtube"></a><a href="#" class="ins"></a><a href="#" class="twit"></a></div>

    </div>
  
    <aside>

        <div class="SameProjects">
            <h3>Benzer Röportajlar</h3>


            @foreach (var item in Model.Interviews)
            {
                if (item.ID != Model.Interview.ID)
                {
                    <a href="#" class="yazi">
                        <div class="yazi-foto ">
                            <img style="height:100px; width:100px" class="demo cursor" src="~/Areas/Admin/Content/Interview/MainPhoto/@item.MainPhoto" alt="Bazzer">
                        </div>
                        <div class="yazi-a">
                            <h5>@item.Name</h5>
                            <p>
                                @item.Description
                            </p>
                        </div>
                    </a>
                }
            }



          
            <div class="liste-b"><a href="#">Tüm Röportajlar <img src="/Content/svg/sari-ok-sag.svg" alt=""></a></div>
        </div>

    </aside>

</div>


